<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>

<div class="dropdown">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Please select a country
  </button>
  <ul class="dropdown-menu" style="">
    <li><a class="dropdown-item" href="#">India</a></li>
    <li><a class="dropdown-item" href="#">US</a></li>
    <li><a class="dropdown-item" href="#">UK</a></li>
    <li><a class="dropdown-item" href="#">Srilanka</a></li>
  </ul>
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input
    type="email"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="name@example.com"
  />
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label"
    >Example textarea</label
  >
  <textarea
    class="form-control"
    id="exampleFormControlTextarea1"
    rows="3"
  ></textarea>
</div>
<!-- <app-test-comp></app-test-comp>

<app-test-one></app-test-one> -->

<!-- ctrl+shift + f -->

<!-- 
Hello world.....

<strong>Hello world..</strong>


<br>

<input type = "text"/> -->
