<!-- component = .html + .ts  = (.js+features(3 classes)) + .css -->

<!-- String interpolation:
 If we want to show the string value in html through the typescript variable
 then we can use the string interpolation(data binding) technique -->

<form style="margin-bottom: 50em">
  <div class="container mt-5">
    <div class="row">
      <ul class="list-group list-group-flush">
        <li class="list-group-item p-4 border-bottom border-info">
          <!-- Syntax : {{}} -->
          <h3 class="bullet-icon">String interpolation  </h3>
          <div class="mt-4">{{ ProjectName }} {{ title }}</div>
          <div class="mt-4">{{ getCustomerName() }}</div>
        
        </li>

        <li class="list-group-item p-4 border-bottom border-info">
          <h3 class="bullet-icon">Property Data binding</h3>
          <!-- defination : If we assign the any value from.ts file 
          through the property of the html then i.e. Property Data Binding. -->
          <div class="row">
            <div class="col-md-6">
              <input class="form-control mt-4" type="text" value = "Admin"/>
            </div>
          </div>


          <div class="row">
            <div class="col-md-6">
              <input class="form-control mt-4" 
              type="text"
              [value] = "customerRole"/>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <input 
              class="form-check-input mt-4" 
              [type]="inputType" />

              <!-- <input class="form-check-input mt-4" 
              type="checkbox"/> -->
            </div>
          </div>

          <!-- syntax : [<property>] -->
        </li>
      </ul>
    </div>
  </div>
</form>
